header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    width: 100%;
    position: fixed;
    background-color: white;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(235, 233, 233);
    z-index: 99;
    
    
}
.left-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 12px;
    padding-left: 7px;
    column-gap: 20px;
}
.menu-bar{
    width: 60px;
    height: 25px;
    cursor: pointer;
}
.youtube-logo {
    width: 100px;
    cursor: pointer;
}
.middle-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 430px;
}
.search {
    padding: 11px;
    padding-left: 10px;
    height: 42px;   
    flex: 1;
    width: 0;
    max-width: 370px;
    box-shadow: inset 0px rgba(0, 0, 0, 1);
    border-color: blue;
    border-radius: 2px;
    border-style: solid;
    border: 1px solid rgb(204, 204, 204);
}
.search:focus {
    border-color: rgb(121, 121, 211);
    outline: none;
    border-width: 1.5px;
}
.search::placeholder {
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
}
.search-icon {
    width: 70px;
    height: 42px;
    margin-left: -4px;
    background-color: rgb(249, 249, 249);
    border-width: .1px;
    border: 1px solid rgb(204, 204, 204);
    cursor: pointer;
    border-radius: 2px;
    border-style: solid;
}
.search-icon:hover {
    background-color: aliceblue;
}

.microphone-icon {
    width: 45px;
    height: 45px;
    margin-left: 15px;
    border-radius: 100px;
    border-width: 1px;
    cursor: pointer;
    border: none;
    background-color: rgb(249, 249, 249);
}
.microphone-icon:hover {
    background-color: aliceblue;
}
.microphone-icon:active {
    background-color: antiquewhite;
}
.right-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 24px;
    column-gap: 15px;
    flex-shrink: 0;
}

.upload img{
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.apps img{
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.notification {
    position: relative;
}
.notification img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.notify {
    position: absolute;
    top: -1px;
    right: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    width: 14px;
    height: 13px;
    color: white;
    background-color: red;
    border-radius: 30px;
    font-family: Roboto, Arial, sans-serif;


}
.profile img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}
